.home_Cards{
    text-decoration: none;
    margin-bottom: 5%;
    height: 250px;
    color: white;

    >img {
        border-radius: 10px;
        height: 250px;
    }

    >h1 {

            width: 80%;
            padding: 0 0 5% 5%;
            margin-top: -15%;
            font-size: 14px;
        }

}



